/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 3px solid black;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 30%;
  text-align: center;
  position: relative;
}

header > * {
  margin-top: 0.5%;
  display: inline-block;
  width: 13.5%;
  height: 90%;
}

section {
  height: auto;
}

.top-content {
  width: 100%;
  height: 200%;
  border: none;
  position: relative;
  text-align: center;
}

.top-content > * {
  width: calc(50% - 3px);
  height: calc(50% - 3px);
  display: inline-block;
}

.obvious {
  position: absolute;
  outline: none;
  left: 37%;
  top: 5%;
  height: auto;
  width: auto;
  text-align: center;
}

.obvious span {
  font-size: 2.3em;
}

.ads {
  padding-top: 2em;
  height: calc(80vh - 3px);
  width: 100%;
  padding-left: 10%;
}

.courses > * {
  display: inline-block;
  width: calc(25% - 3px);
  height: 100%;
}

.big-course {
  padding-top: 0.5em;
  width: calc(50% - 3px);
  text-align: center;
}

.read-more {
  width: 100%;
  height: 30vh;
  text-align: center;
  line-height: 30vh;
}

.conference {
  padding-top: 1em;
  height: 130vh;
}

.person {
  height: 50vh;
}

.persons {
  height: 50vh;
  width: calc(50% - 3px);
  display: inline-block;
  padding-top: 3em;
  padding-left: 2em;
}

footer {
  padding-top: 3em;
  height: 100vh;
}

.logo {
  height: 81px;
  position: relative;
  bottom: 30%;
  left: -1%;
}

.topic-btn {
  height: 81px;
  position: relative;
  bottom: 30%;
  left: 1%;
}
.top-cc {
  padding-left: 10%;
}

.tc-header {
  height: 15%;
  width: 50%;
  margin-top: 30%;
}

.tc-title {
  margin-top: 2%;
  width: 80%;
  height: 30%;
}

.tc-tag {
  height: 10%;
  width: 40%;
  margin-top: 2%;
}

.ads-c {
  margin-top: 20px;
  height: 22em;
  width: 60em;
  display: inline-block;
}

.ads-btn {
  height: 5em;
  width: 20em;
  margin-top: 1em;
}

.ads-img {
  display: inline-block;
  width: 15em;
  height: 15em;
  position: relative;
  bottom: 9.5em;
  left: 5em;
}

.course {
  padding-left: 2em;
  padding-top: 3em;
  position: relative;
}

.course > * {
  display: block;
  margin-top: 1em;
}

.c1 {
  width: 5em;
  height: 2em;
}

.c2 {
  width: 20em;
  height: 8em;
}

.c3 {
  width: 14em;
  height: 2em;
}

.c4 {
  width: 20em;
  height: 18em;
}

.c-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 4em;
}

.big-course > * {
  margin: 0 auto;
  margin-top: 0.5em;
}

.bc1 {
  width: 20em;
  height: 20em;
}

.bc2 {
  width: 23em;
  height: 5em;
}

.bc3 {
  width: 25em;
  height: 9em;
}

.bc4 {
  height: 3em;
  width: 19em;
}

.bc5 {
  width: 19em;
  height: 3em;
}

.conference > * {
  margin: 0 auto;
  width: 40em;
  height: 10em;
  margin-top: 1em;
}

.person {
  padding-left: 5em;
  padding-top: 4em;
}
.person > * {
  display: inline-block;
}
.pic {
  width: 13em;
  height: 13em;
  transform: rotate(-10deg);
}

.intro {
  margin-left: 4em;
  width: 50em;
  height: 13em;
  padding-left: 1em;
  padding-top: 1em;
}

.intro > * {
  display: block;
}
.title {
  width: 15em;
  height: 2em;
}

.detail {
  margin-top: 0.5em;
  width: 45em;
  height: 8em;
}

.s-pic {
  width: 5em;
  height: 5em;
  display: inline-block;
  vertical-align: top;
  transform: rotate(-10deg);
}

.s-intro {
  display: inline-block;
  width: 35em;
  height: 17em;
  margin-left: 2em;
}
.d-person {
  padding-top: 0.5em;
  position: relative;
}

.d-person > * {
  display: block;
  margin-top: 1em;
}
.d-warn {
  width: 5em;
  height: 1.5em;
}

.d-title {
  width: 20em;
  height: 5em;
}

.d-detail {
  height: 9em;
  width: 45em;
}

.d-btn {
  height: 2em;
  width: 10em;
}

.d-img {
  width: 13em;
  height: 18em;
  position: absolute;
  transform: rotate(-15deg);
  right: 5em;
  top: -5em;
}

.cc {
  padding-top: 1em;
}
.cc > * {
  margin: 0 auto;
}
.c-title {
  width: 20em;
  height: 5em;
}

.c-list {
  margin-top: 1.5em;
  height: 35em;
  width: 18em;
}

.conference > * {
  width: 30em;
  height: 6em;
  margin: 0 auto;
  margin-top: 0.5em;
}

.con-img {
  outline: none;
  border: 3px solid black;
  border-radius: 100%;
  height: 30em;
}

footer > * {
  height: 1.5em;
  width: 30em;
  margin: 0 auto;
  margin-top: 1em;
}

.ccc-list{
  height: 25em;
  width: 80em;
}

.company{
  width: 20em;
  height: 8em;
}